@charset "utf-8";
@charset "utf-8";
*{font-family: "Microsoft YaHei","微软雅黑";}
body{margin:0;padding:0;background-color: #fff;}
img{border: 0;line-height: none;}
ul,ol,li {margin: 0;padding: 0;list-style: none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin: 0;padding: 0;}
a {text-decoration: none;cursor: pointer;}
a:hover {text-decoration: none; }
.border-s{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/*行--宽度超过省略*/
.txtoverflow{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}

/*行--高超过省略*/
.txthoverflow{overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.fl{float: left}
.fr{ float: right;}
/*清除子的浮动*/
.clearfix::after {content: '';display: block;clear: both;}

/*主要样式*/
.title{
	padding-top:0.2rem;
	margin: 0 auto;
	color: #00c;
	font-size: 0.3rem;
	font-weight: bolder;
	text-align: center;
}
.content{
	padding: 0.1rem;
	width: 1170px;
	margin: 0 auto ;
}
.point-keyword{
	margin-bottom: 0.2rem;
	color: #2678ec;
	font-weight: bold;
	font-size: 0.25rem;
	cursor: pointer;
}
.point-content{
	display: none;
	color: #666;
	font-size: 18px;
	padding:0 0.2rem 0.3rem 0.3rem;
}
.point-content li{
	line-height: 0.5rem;
}
.point-content li i{
	color: #063;
	font-style: normal;
}
.point-content li span{
	display: inline-block;
	margin-right: 0.15rem;
	color: #f01;
	font-weight: bold;
}
.point-instru{
	padding-left: 0.2rem;
	color: #666;
	font-size: 0.15rem;
}
.point-content li p{
	line-height: 0.2rem;
	padding-left: 0.2rem;
	
}
.point-en{
	color: #666;
}
@media screen and (max-width: 1171px) {
	.content{
		width: auto;
	}
}