@charset "utf-8";
/*主要样式*/
.title{
	padding-top:0.2rem;
	margin: 0 auto;
	color: #00c;
	font-size: 0.3rem;
	font-weight: bolder;
	text-align: center;
}
.content{
	padding: 0.1rem;
	width: 1170px;
	margin: 0 auto ;
}
.point-keyword{
	margin-bottom: 0.2rem;
	color: #2678ec;
	font-weight: bold;
	font-size: 0.25rem;
	cursor: pointer;
}
.point-content{
	display: none;
	color: #666;
	font-size: 18px;
	padding:0 0.2rem 0.3rem 0.3rem;
}
.point-content li{
	line-height: 0.5rem;
}
.point-content li i{
	color: #063;
	font-style: normal;
}
.point-content li span{
	display: inline-block;
	margin-right: 0.15rem;
	color: #f01;
	font-weight: bold;
}
.point-instru{
	padding-left: 0.2rem;
	color: #666;
	font-size: 0.15rem;
}
.point-content li p{
	line-height: 0.2rem;
	padding-left: 0.2rem;
	
}
.point-en{
	color: #666;
}
@media screen and (max-width: 1171px) {
	.content{
		width: auto;
	}
}